<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<section class="newsletter">
<div class="container">
<div class="row">
<div class="col-sm-12">
	<div class="content">
		<h2>Inscreva-se para receber noticias e promoções!</h2>
	<div class="input-group">
         <input type="email" class="form-control" placeholder="Digite seu email">
         <span class="input-group-btn">
         <button class="btn" type="submit">Inscreva-se agora</button>
         </span>
          </div>
	</div>
</div>
</div>
</div>
</section>