<div class="jumbotron">
  <h1 class="display-4 d-flex justify-content-center">Impacto na Sociedade.</h1>
  <p class="lead">Lorem Ipsum.</p>
  <hr class="my-4" />
  <p>
    Mussum Ipsum, cacilds vidis litro abertis. Quem num gosta di mim que vai
    caçá sua turmis! Nec orci ornare consequat. Praesent la cinia ultrices
    consectetur. Sed non ipsum felis. Praesent malesuada urna n isi, quis
    volutpat erat hendrer it non. Nam vulputate dapibus. Mé faiz elementum
    girarzis, nisi eros vermeio.
  </p>
  <div class="d-flex justify-content-center">
    <div>
      <img
        class="destaques inline img-fluid rounded-circle"
        src="https://i.imgur.com/WH7K979.jpg"
        alt="Papelão"
      />
      <div class="alinha">Papelão</div>
    </div>
    <div class="px-5">
      <img
        class="destaques inline img-fluid rounded-circle"
        src="https://i.imgur.com/EvTmQlI.jpg"
        alt="Madeira"
      />
      <div class="alinha">Madeira</div>
    </div>
    <div>
      <img
        class="destaques inline img-fluid rounded-circle"
        src="https://i.imgur.com/qH651Su.png"
        alt="PET"
      />
      <div class="alinha">Garrafa PET</div>
    </div>
    <div class="px-5">
      <img
        class="destaques inline img-fluid rounded-circle"
        src="https://i.imgur.com/XCCtvDO.jpg"
        alt="Pallet"
      />
      <div class="pallet">Pallet</div>
    </div>
    <div>
      <img
        class="destaques inline img-fluid rounded-circle"
        src="https://i.imgur.com/jyWqYmx.jpg"
        alt="Plastico"
      />
      <div class="alinha">Plástico</div>
    </div>
  </div>
</div>

<!--Cards Inicio-->
<div class="container">
  <div class="card-deck">
    <div class="card">
      <img
        class="card-img-top padraoimg"
        src="https://i.imgur.com/FW5HNoN.jpg"
        alt="Cama"
      />
      <div class="card-body">
        <h5 class="card-title">Cama de Pallet</h5>
        <p class="card-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ullam quo
          dicta nemo quisquam aut culpa possimus, ut repellat. Alias est
          voluptatibus quod eius ea tempore facilis assumenda consectetur quia
          dolores?
        </p>
        <p class="card-text"><small class="text-muted"> LINK VIDEO </small></p>
      </div>
    </div>
    <div class="card">
      <img
        class="card-img-top padraoimg"
        src="https://i.imgur.com/GRZ0byf.jpg"
        alt="Painel Tv"
      />
      <div class="card-body">
        <h5 class="card-title">Painel de Madeira</h5>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
          molestias obcaecati accusantium, quibusdam, delectus quidem explicabo
          iusto illum aperiam minima blanditiis ad, neque magnam sint voluptate
          consectetur ipsa quas officia?
        </p>
        <p class="card-text"><small class="text-muted">LINK VIDEO</small></p>
      </div>
    </div>
    <div class="card">
      <img
        class="card-img-top padraoimg"
        src="https://i.imgur.com/oWsdqix.jpg"
        alt="Casinha de PET"
      />
      <div class="card-body">
        <h5 class="card-title">Casinha de garrafa PET</h5>
        <p class="card-text">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quae,
          facilis facere atque similique quam ab magnam minima totam modi
          aperiam error consequuntur pariatur placeat, beatae qui voluptatibus
          porro mollitia distinctio.
        </p>
        <p class="card-text"><small class="text-muted">LINK VIDEO</small></p>
      </div>
    </div>
  </div>
  <!--Cards Final-->

  <!--Inicio Categorias-->

  <div class="container">
    <h3 class="font-weight-bold display-5 mt-5">Categorias</h3>
    <div class="card-group mt-3">
      <div class="card" style="width: 18rem">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
