/* You can add global styles to this file, and also import other style files */
.destaques{

  width: 100px;
  height: 100px;

}

.alinha{
  margin-left: 20px;
}

.pallet{
  margin-left: 30px;
}

.padraoimg{
  width: 348px;
  height: 200px;
}

.img-aj{
  width: 200px;
  height: 100px;
}

